#drop_file_zone{
    background-color: #EEE;
    border: #999 5 px dashed;
    width: 150px;
    height: 150px;
    padding: 15px;
    font-size: 18px;
}

#drag_upload_file{
    width: 75%;
    margin: 0 auto;
}

#drag_upload_file p{ 
    text-align: center;
}


#drag_upload_file #selectfile{ 
    display: none;
}

